@font-face {
    font-family: herculanum;
    src: url("herculanum/herculanum.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 90%;
    display: block;
    border-radius: 10px;
}

:root{
    --cor-fundo:rgb(27, 27, 27);
    --cor-fonte: bisque;
}

header{
    display: flex;
    background-color: var(--cor-fundo);
    height:6vw;
    align-items: center;
    border-bottom: solid var(--cor-fonte);
}

.header{
    display: flex;
    width:90%;
    margin: 0 auto;
    justify-content: center;
    color: var(--cor-fonte);
    font-family: herculanum;
    font-size: 2em;
}

main{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    padding-top: 3vw;
}

.ranking{
    width: 65%;
    margin: 0 auto;
    border: solid aliceblue 1px;
    border-radius: 5px;
    padding: 1rem;
    font-family: Herculanum;
   
}

.rank{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 6vw;
    margin-top: 0.1rem;
}

#rank-a{
    background-color:crimson;
}

#rank-b{
    background-color: forestgreen;
}

#rank-c{
    background-color:goldenrod;
}

#rank-d{
    background-color: darkcyan;
}


.classificacao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.dropArea-items {
    display: flex;
    gap: 0.5vw;
    padding-left: 0.5vw;
    overflow-x: auto;
    background-color:rgb(59, 58, 58);
}


.items{
    display: flex;
    width: 75%;
    margin: 3vw auto auto auto;
    flex-wrap: wrap;
    row-gap: 0.5vw;
    justify-content: center;
    border-radius: 10px;
    border: solid white 1px;
}

.item-drop {
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
}

.item-drop img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.footer{
    background-color: var(--cor-fundo);
    padding: 5vw;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

